body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}
button {
  background-color: white;
  border-radius: 8px;
  border: 2px solid blue;
  padding: 10px 24px;
  font-family: 'Josefin Sans';
  font-size: 22px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
button:hover{
  background-color: blue;
  color: white;
}
.end{
  font-size: 12px;
  text-align: center;
}
.facts{
  font-size: 18px;
  text-align: center;
}
.box{
  margin: auto;
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
}
img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}